.row {
  white-space: nowrap;
}

.status {
  margin-bottom: 30px;
}

.game {
  align-self: center;
  margin-top: 100px;
  background-color: rgb(248, 238, 215);
}

.difficulty-button {
  margin-top: 20px;
  margin-left: 10px;
}
